.dash-icons-loaders {
  border-radius: 5px;
  /* background: #2B3134; */
  background: #5c5241;
  color: #777;
  text-align: center;
  font-family: "Gill sans", sans-serif;
  width: 94%;
  margin: 0 auto 10px;
}
@media (min-width: 600px) {
  .dash-icons-loaders {
    width: 100%;
    /* margin: 0 auto;  */
  }
}

.loaders-title {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: 1px solid white;
}
.loaders-container {
  display: flex;
  flex-flow: row wrap;
  /* margin: 2em 1em; */
}

.loader{
  flex: 1 1 25%;
  height: 75px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto .7em;
  display: inline-block;
  vertical-align: top;
}

.loaders-container svg path,
.loaders-container svg rect{
  fill: #ffd399;
}

.social-title {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #FFD399;
  color: #000;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: 1px solid white;
}

.middle-container .social {
  height: 180px;
  background: #1f253d;
}