.giphy-form {
  max-width: 98.5%;
  margin: 0 auto;
}

.giphy-input {
  color: grey;
  width: 100%;
  margin-bottom: 2em;
  background: transparent;
  border: 1px solid #000;
}

.giphy-input::placeholder {
  color: #000;
  font-size: 1em;
  letter-spacing: 5px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}