.gif-app-wrapper {
	padding-top: 90px;
  background: url(../../../public/assets/background/bg2.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh; */
}

.gif-app-wrapper .title-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.gif-app-wrapper .app-title {
  font-family: 'Bungee Shade', cursive;
  margin-top: 0;
  margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	text-align: center;
	font-weight: normal;
	width: 100%;
	text-align: center;
	font-size: 11vw;
	background: linear-gradient(
		-45deg, 
		#4bc0c8 25%, 
		#ff993a 25%, 
		#ff993a 50%, 
		#4bc0c8 50%, 
		#4bc0c8 75%, 
		#ff993a 75%, 
		#ff993a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 20px 20px;
	background-position: 0 0;
	animation: stripes 1s linear infinite;
}	

@keyframes stripes {
	100% { 
		background-position: 20px 0, 20px 0, 20px 0;
	}
}

.gif-app-wrapper ul { 
  margin-bottom: 0;
  margin-block-end: unset;
  min-height: 50vh;
}
/* .app-title {
  margin: 0;
  left: 0;
  font-size: 50px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-shadow: 
            9px 9px #1f9eff,
            12px 12px #000000;
} */

/* .app-title {
  text-align: center;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  width: 100%;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
} 

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  100% { border-color: orange; }
} */
