.gif-card {
  align-content: center;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 0 0 4px 1px rgba(0,0,0,.9);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 10px;
  max-width: 40%;
  overflow: hidden;
}

.gif-card img {
  max-height: 150px;
  object-fit: cover;
  object-position: top;
  vertical-align: middle;
}
.gif-card p {
  text-align: center;
  padding: 5px;
}