.search-name, .loader {
  text-align: center;
}
.gif-app-wrapper ul {
  padding-left: 0;
}

.gif-app-wrapper h3 {
  font-size: 2em;
  margin-bottom: 1em;
  color: #000;
  font-family: 'Bungee Shade', cursive;
}
.gif-card-grid {
  display: flex;
  flex-flow: row wrap;
  /* flex-flow: column wrap; */
  width: 100%;
  justify-content: center;

}