
.join-newsletter {
  height: 230px;
}
.join-newsletter .titular {
  padding-top: 10px;
}
.subscribe.button {
  background: #11a8ab;
  margin-top: 10px;
}
.subscribe.button:hover {
  background: #0F9295;
}