
  /*································································*/
	/*····························· FONTS ····························*/
  /*································································*/


@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  text-decoration: none;
}

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
  text-decoration: none;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
@font-face {
	font-family: 'icomoon';
	src:url('https://jlalovi-cv.herokuapp.com/font/icomoon.eot');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-cloudy:before {
	content: "\e60f";
}
.icon-sun:before {
	content: "\e610";
}
.icon-cloudy2:before {
	content: "\e611";
}


  /*································································*/
	/*···························· GLOBALS ···························*/
  /*································································*/


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

.nactive-dashboard {
	/* background: #1f253d; */
	/* background: #ececec; */
  /* background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../../../public/assets/background/clouds.jpeg); */
  background: url(../../../public/assets/background/bg-gradient.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.unordered-list {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}
.heading1 {
	font-size: 23px;
}
.heading2 {
	font-size: 17px;
}
.paragraph-text {
	font-size: 15px;
}
.dash-link {
	text-decoration: none;
	font-size: 15px;
}
.dash-link:hover {
  text-decoration: underline;
}
.heading1, .heading2, .paragraph-text, .dash-link, .dash-span {
	color: rgb(0, 0, 0);
}
.scnd-font-color {
  color: #9099b7;
}
.input-container {
  position: relative;
}
.dash-span[type=text]{
  width: 260px;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 45px;
  background: #50597b;
  color: #fff;
  border: solid 1px #1f253d;
  border-radius: 5px;		
}
.dash-span[type=text]::-webkit-input-placeholder { 
  color: #fff;	   		
}
.dash-span[type=text]:-moz-input-placeholder {
  color: #fff;	   
}
.dash-span[type=text]::-moz-input-placeholder {
  color: #fff;
}
.dash-span[type=text]:-ms-input-placeholder {
  color: #fff;	   	
}
.dash-span[type=text]:focus {
  outline: none;
  border: 1px solid #11a8ab;
}
.input-icon {
  font-size: 22px;
  position: absolute;
  left: 31px;
  top: 10px;
}
.input-icon.password-icon {
  left: 35px;
}
.horizontal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.horizontal-list li {
  float: left;
}
.clear {
  clear: both;
}  
.icon {
  font-size: 25px;
}  
.titular {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}  
.button {
  display: block;
  width: 175px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.button:hover {
  text-decoration: none;
}
.arrow-btn-container {
  position: relative;
}
.arrow-btn {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.arrow-btn:hover {
  text-decoration: none;
}
.arrow-btn.left {
  border-top-left-radius: 5px;
}
.arrow-btn.right {
  border-top-right-radius: 5px;
  right: 0;
  top: 0;
}
.arrow-btn .icon {
  display: block;
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 100%;
  line-height: 17px;
  width: 21px;
  margin: 20px auto;
  text-align: center;
}
.arrow-btn.left .icon {
  padding-right: 2px;
}

  /*································································*/
	/*························ MAIN CONTAINER ························*/
  /*································································*/

.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;

	font-family: 'Ubuntu', sans-serif;
	/* width: 950px; */
}	
@media (min-width: 600px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 auto;
    padding-top: 3em;
    height: 1600px;
    width: 1200px;
  }
}

  
  /*································································*/
	/*···························· BLOCKS ····························*/
  /*································································*/

.dash-container {
  width: 100vw;
}
@media (min-width: 600px) {
  .dash-container {
    float: left;
    width: 383px;
    /* width: 300px; */
  }
}
.block {
  margin-bottom: 25px;
  background: #ffffff;
  border-radius: 5px;
  /* background: #394264; */
}

  /*································································*/
	/*···························· HEADER ····························*/
  /*································································*/

@media (min-width: 600px) {
  .dash-header { grid-area: 1 / span 3; }
}
.dash-header {
  height: 80px;
  background: #035A81;
}

  /*································································*/
	/*························· LEFT CONTAINER ·······················*/
  /*································································*/

.left-container { 
  order: 2;
}
@media (min-width: 600px) {
  .left-container { 
    grid-area: 2 / 1 / 3 ; 
  }
}
.profile {
  height: 379px;
  background: #ACD2B8;
}

  
  /*································································*/
	/*························ MIDDLE CONTAINER ······················*/
  /*································································*/

.middle-container { 
  order: 1;
}
@media (min-width: 600px) {
  .middle-container { 
    grid-area: 2 / 2 / 3 ; 
    margin: 0 25px;			
  }
}

.react-calendar {
  background: #FCB150;
}
.react-calendar__month-view,
.calendar-month,
.react-calendar__century-view__decades,
.react-calendar__decade-view__years {
  background: #ffd399;
}

  /*································································*/
	/*························ RIGHT CONTAINER ·······················*/
  /*································································*/

.right-container { 
  order: 3;
}
@media (min-width: 600px) {
  .right-container { grid-area: 2 / 3 / 3 ; }
}
.calendar-day {
  height: 320px;
  background: #3468af;
}

  /*································································*/
	/*······················· THEMING CONTRAST ·······················*/
  /*································································*/
  /*··············TODO: IMPLEMENT BUTTON FOR THEMING················*/
  /*································································*/
  
.dash-header { 
  border: 1px solid #000;
}
/* .covid-news, */
/* .dash-donut, */
/* .menu-box, */
/* .media, */
.calendar-day,
.dash-construction,
.dash-header,
.dash-icons-loaders,
.loading,
.home-logout-wrapper,
.profile,
.weather,
.titular,
.block {
  /* background-color: #fff; */
  background-color: rgba(255,255,255,0.5) !important;
}
.home-logout-wrapper-inner {
  background-color: transparent;
}
/* HEADER MENU */
.header-menu-tab,
.header-menu-tab .icon,
.profile-menu .paragraph-text {
  color: #000 !important;
}
/* MENU BOX */
.menu-box .titular {
  border-bottom: 2px solid #fff;
}
.menu-box-menu li {
  border-bottom: 1px solid rgb(83, 83, 83);
}
/* PROFILE */
.menu-box-menu li {
  background-color: rgba(255,255,255,0.5);
}
.menu-box .titular,
.menu-box-menu .icon {
  color: #000;
}
/* DONUT CHART */
.donut-chart,
.donut-title {
  background-color: rgba(255,255,255,0.5);
  color: #000;
}
.apexcharts-legend .apexcharts-legend-series .apexcharts-legend-text {
  color: #000 !important;
}
/* BAR CHART */
.dash-line-title,
.dash-line .apexcharts-canvas {
  background-color: rgba(255,255,255,0.5) !important;
  color: #000;
}
/* LOADER ICONS */
.loaders-title {
  color: #000;
}
.loaders-container svg path,
.loaders-container svg rect{
  fill: #38485E;
}
/* COVID NEWS */
.covid-heading {
  background-color: rgba(255,255,255,0.5);
  color: #000 !important;
}
.perspective {
  margin-top: 3px;
}
.cov-icon {
  color: #000 !important;
}
.tab-cov-content,
.cov-rec {
  color: #000;
}
.tab-cov-content:nth-child(2) {
  background-color: rgba(255,255,255,0.5);
}
.tab-cov-content:nth-child(1),
.tab-cov-content:nth-child(3) {
  background-color: rgba(255,255,255,1);
}
.cov-tab:nth-child(1),
.cov-tab:nth-child(2),
.cov-tab:nth-child(3) {
  background-color: rgba(255,255,255,0.5);
  color: #000;
}
/* WEATHER BLOCK */
.weather .titular,
.weather .current-day {
  background-color: transparent !important;
  color: #000;
}
.weather .titular {
  border-bottom: 1px solid #fff;
}
.windir {
  border-top: 1px solid #000;
}
/* MEDIA BLOCK */
.dash-media-title {
  background-color: transparent;
  color: #000;
}
/* CONSTRUCTION BLOCK */
.construction-title,
.dash-construction .text ul li {
  color: #000;
}
/* DAY CALENDAR */
.current-day {
  background-color: rgba(255,255,255,0.5) !important;
  color: #000;
}
.current-day-date {
  color: #000 !important;
}
.calendar-day .button-day-before, 
.calendar-day .button-day-after {
  background: transparent;
}
.calendar-day .add-event.button {
  background-color: rgba(255,255,255,1);
  color: #000;
}
.calendar-day .arrow-btn .icon {
  color: #000;
  border: 2px solid #000;
}
.calendar-day .weekday,
.calendar-day .the-day {
  background: transparent !important;
  color: #000;
}
/* MONTH CALENDAR */
.react-calendar__viewContainer {
  background: transparent !important;
}
.react-calendar__navigation {
  border-bottom: 1px solid #fff;
}
.react-calendar,
.react-calendar__month-view, 
.react-calendar__navigation__arrow,.react-calendar__navigation__prev-button,
.react-calendar__navigation__label,
.react-calendar__century-view__decades__decade,
.react-calendar__year-view__months__month, 
.react-calendar__decade-view__years__year,
.react-calendar__month-view__days__day {
  background-color: rgba(255,255,255,0) !important;
}
.react-calendar__navigation__arrow,
.react-calendar__navigation__label,
.react-calendar__month-view__weekdays__weekday abbr[title] {
  color: #000 !important;
}