
  /*································································*/
	/*····························· FONTS ····························*/
  /*································································*/


@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  text-decoration: none;
}

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
  text-decoration: none;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
@font-face {
	font-family: 'icomoon';
	src:url('https://jlalovi-cv.herokuapp.com/font/icomoon.eot');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-cloudy:before {
	content: "\e60f";
}
.icon-sun:before {
	content: "\e610";
}
.icon-cloudy2:before {
	content: "\e611";
}


  /*································································*/
	/*···························· GLOBALS ···························*/
  /*································································*/


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

.nactive-dashboard {
	/* background: #1f253d; */
	background: #ececec;
}
.unordered-list {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}
.heading1 {
	font-size: 23px;
}
.heading2 {
	font-size: 17px;
}
.paragraph-text {
	font-size: 15px;
}
.dash-link {
	text-decoration: none;
	font-size: 15px;
}
.dash-link:hover {
  text-decoration: underline;
}
.heading1, .heading2, .paragraph-text, .dash-link, .dash-span {
	color: rgb(0, 0, 0);
}
.scnd-font-color {
  color: #9099b7;
}
.input-container {
  position: relative;
}
.dash-span[type=text]{
  width: 260px;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 45px;
  background: #50597b;
  color: #fff;
  border: solid 1px #1f253d;
  border-radius: 5px;		
}
.dash-span[type=text]::-webkit-input-placeholder { 
  color: #fff;	   		
}
.dash-span[type=text]:-moz-input-placeholder {
  color: #fff;	   
}
.dash-span[type=text]::-moz-input-placeholder {
  color: #fff;
}
.dash-span[type=text]:-ms-input-placeholder {
  color: #fff;	   	
}
.dash-span[type=text]:focus {
  outline: none;
  border: 1px solid #11a8ab;
}
.input-icon {
  font-size: 22px;
  position: absolute;
  left: 31px;
  top: 10px;
}
.input-icon.password-icon {
  left: 35px;
}
.horizontal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.horizontal-list li {
  float: left;
}
.clear {
  clear: both;
}  
.icon {
  font-size: 25px;
}  
.titular {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}  
.button {
  display: block;
  width: 175px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.button:hover {
  text-decoration: none;
}
.arrow-btn-container {
  position: relative;
}
.arrow-btn {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.arrow-btn:hover {
  text-decoration: none;
}
.arrow-btn.left {
  border-top-left-radius: 5px;
}
.arrow-btn.right {
  border-top-right-radius: 5px;
  right: 0;
  top: 0;
}
.arrow-btn .icon {
  display: block;
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 100%;
  line-height: 17px;
  width: 21px;
  margin: 20px auto;
  text-align: center;
}
.arrow-btn.left .icon {
  padding-right: 2px;
}


  /*································································*/
	/*························ MAIN CONTAINER ························*/
  /*································································*/

.main-container {
	font-family: 'Ubuntu', sans-serif;
  width: 1200px;
	height: 2000px;
  padding-top: 6em;
	margin: 0 auto;
	/* width: 950px; */
}	


  /*································································*/
	/*···························· BLOCKS ····························*/
  /*································································*/

.dash-container {
  float: left;
  width: 383px;
  /* width: 300px; */
}
.block {
  margin-bottom: 25px;
  background: #ffffff;
  border-radius: 5px;
  /* background: #394264; */
}

  /*································································*/
	/*···························· HEADER ····························*/
  /*································································*/

.dash-header {
  height: 80px;
  background: #035A81;
}

  /*································································*/
	/*························· LEFT CONTAINER ·······················*/
  /*································································*/

.left-container {}

.profile {
  height: 403px;
  background: #ACD2B8;
}

  
  /*································································*/
	/*························ MIDDLE CONTAINER ······················*/
  /*································································*/

.middle-container {
  margin: 0 25px;			
}

.react-calendar {
  background: #FCB150;
}
.react-calendar__month-view,
.calendar-month,
.react-calendar__century-view__decades,
.react-calendar__decade-view__years {
  background: #ffd399;
}

  /*································································*/
	/*························ RIGHT CONTAINER ·······················*/
  /*································································*/

.right-container {}

.calendar-day {
  height: 320px;
  background: #3468af;
}
