
.weather {
  height: 318px;
}
.weather .titular {
  background: #cc324b;
}
.weather .titular .icon {
  padding-right: 15px;
  font-size: 26px;
}
.weather .current-day {
  height: 135px;
  background: #e64c65;
}
.weather .current-day p {
  margin: 0;
  padding-left: 50px;					
}
.current-day-date {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding-top: 16px;
}
.current-day-date:first-letter {
  text-transform: uppercase;
}
.current-day-temperature {
  text-align: center;
  font-size: 70px;
}
.current-day-temperature .icon-cloudy {
  padding-left: 20px;
}

.weather .next-days p {
  margin: 0;
  display: inline-block;
  font-size: 16px;
}
.weather .next-days a {
  display: block;
  line-height: 58px;
  -webkit-transition: background .3s;
  transition: background .3s;
  text-decoration: none;
  color: black;
}
.weather .next-days .windir {
  border-bottom: 1px solid #1f253d;
}
.weather .next-days a:hover {
  background: #ffa38c;
}
.weather .next-days a:hover .day {
  color: #000000;
}
.weather .next-days-date {
  padding-left: 20px;
}
.weather .next-days-temperature {
  float: right;
  padding-right: 20px;
  color: #000;
}
.weather .next-days-temperature .icon {
  padding-left: 10px;
}
.wind-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entypo-adjust,
.entypo-light-up,
.entypo-air,
.entypo-cloud,
.entypo-water,
.entypo-cloud-thunder {
  font-size: 60px;
  margin: 30px;
}

.entypo-light-up:before,
.entypo-adjust:before {
  color: #e6cf4c !important;
}
.entypo-air {
  color: #616161 !important;
}
.entypo-cloud {
  color: #33373d !important;
}
.entypo-water {
  color: #5e7efd !important;
}
.entypo-cloud-thunder {
  color: #ffd000 !important;
}
