.todo-item {
  cursor: pointer;
  margin: 0;
}
.todo-app-wrapper {
  padding-top: 110px;
}

.list-group-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
}

.todo-app-input {
  margin-bottom: 5px;
  max-width: 140px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 3px 20px
}

.btn-add {
  width: 100%;
  max-width: 140px;
  padding: 3px 20px
}

@media (min-width: 600px) {
  .todo-app-input, .btn-add {
    max-width: 100%;
  }
}
