@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');

.navbar {
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-position: top;
  background-image: url('../../../public/assets/background/black.jpeg');
}
.navbar-brand {
  font-family: 'Rock 3D', cursive;
  font-size: 25px;
}
.navbar-nav a {
  font-family: 'Rock 3D', cursive;
  font-size: 18px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}
.navbar-nav a {
  color: white !important;
  padding-top: 10px
}

.dropdown {
  padding: 2px 8px 0;
}
.dropdown a:first-child {
  text-decoration: none;
  color: white !important;
}

@media (max-width: 600px) {
  .navbar-nav {
    gap: 0;
    align-items: flex-start;
  }
  .nav-submenu, .dropdown {
    padding: .2em 30px !important;
  }
  .nav-submenu:last-child {
    margin-bottom: 10px;
  }
  .dropdown ul .nav-submenu {
    color: white !important;
  }
  .dropdown ul {
    background-color: transparent
  }
  
}

[aria-current]:not([aria-current="false"]),
.dropdown ul .nav-submenu[aria-current]:not([aria-current="false"]) {
  /* font-weight: bold; */
  color: orange !important;
}

.navbar-toggler-icon[aria-expanded="true"] {
  fill: orange;
}

.logout-wrapper {
  align-items: center;
  justify-content: flex-end;
  gap: 0;
  width: 100%;
  flex-direction: row;
}
@media (max-width: 600px) {
  .logout-wrapper {
    gap: .7em;
  }
}

.logout-wrapper button {
  padding: 7px 15px !important;
  font-family: 'Rock 3D', cursive;
  font-size: 15px;
  letter-spacing: 2px;
  color: white !important;
  border-color: orange;
}

.logout-wrapper span {
  font-family: 'Rock 3D', cursive;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0 10px;
}

.nav-item.text-warning {
  color: orange !important;
}

.logout-wrapper button:hover {
  color: black !important;
}

.navbar-toggler {
  border-color: white !important;
  fill: white !important;
}
.navbar-toggler-icon {
  background-image: none !important;
}

@media (min-width: 600px) {
  .navbar-nav {
    gap: 1em;
  }
  .logout-wrapper {
    gap: 0;
  }
  .dropdown ul .nav-submenu {
    color: black !important;
  }
  .navbar-brand {
    font-family: 'Rock 3D', cursive;
    font-size: 30px;
    letter-spacing: 2px;
  }
  .navbar-nav a {
    font-family: 'Rock 3D', cursive;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .logout-wrapper button {
    font-family: 'Rock 3D', cursive;
    font-size: 18px;
    letter-spacing: 2px;
  }
  
  .logout-wrapper span {
    font-family: 'Rock 3D', cursive;
    font-size: 20px;
    letter-spacing: 2px;
  }
  
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

